@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Contacta ahora con un <a href="https://wa.me/+51999656060">Asesor de Ventas</a> de INDUSTRIAS COPSA E.I.R.L.</p>
</div>
